# Ignore venv-related dirs inside ./src/python, regardless of parent name
./src/python/**/bin/
./src/python/**/lib/
./src/python/**/lib64/
./src/python/**/include/
./src/python/**/pyenv.cfg
./src/python/**/__pycache__/
./src/python/*.pyc
./src/python/**/.Python   
